{{ partial "header.html" . }}

<div class="container">
    <article class="post-container" itemscope="" itemtype="http://schema.org/BlogPosting">
        {{ partial "post-header.html" . }}

        {{ partial "post-content.html" . }}
        
        <script src="https://utteranc.es/client.js"
        repo="bixby96/website"
        issue-term="pathname"
        label="comments"
        theme="github-light"
        crossorigin="anonymous"
        async>
        </script>

        {{ partial "post-footer.html" . }}

        {{ partial "disqus.html" . }}
    </article>
</div>

{{ partial "footer.html" . }}
